<% @title = "サインアップ" %>
<div id = 'sign_up'>
<h2>Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autocomplete: "name" ,placeholder: "氏名"%>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, autocomplete: "address" ,placeholder: "住所"%>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, autocomplete: "phone_number" ,placeholder: "電話番号"%>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "email"%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password" ,placeholder: "６文字以上"%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワード確認"%>
  </div>

  <div class="actions">
    <%= f.submit "送信する" %>
  </div>
<% end %>
</div>
<p id = "other_link"><%= render "devise/shared/links" %></p>