<h1>カートの内容</h1>

<h2><%= @title %></h2>
<h2><%= @shop.name%></h3>

<% if @cart.cart_items.present? %>
  <%= @cart.cart_items.each do |cart_item| %>
    <div>
      <div> 
        <%= cart_item.name %> <br>
        <%= cart_item.price %>円
      </div>
      <table>
        <tr>
          <th> <%= CartItem.human_attribute_name(:number) %>
          <td> <%= cart_item.number %>
        </tr>
        <tr>
          <th> 小計 </th>
          <td> <%= subtotal(cart_item) %></td>
        </tr>
      </table>
    </div>
    <div>
      <table>
        <tr>
          <th> <%= Shop.human_attribute_name(:delivery_fee) %></th>
          <td> <%= @shop.delivery_fee%>円 </td>
        </tr>
        <tr>
          <th> 合計数量 </th>
          <td> <%= @cart.count_items %> </td>
        </tr>
        <tr>
          <th> 合計 </th>
          <td> <%= total_amount(@cart) %>円 </th>
        </tr>
      </table>
    </div>
  <% end %>
    <script
      type="text/javascript"
      src="https://checkout.pay.jp/"
      class="payjp-button"
      data-key="pk_test_0383a1b8f91e8a6e3ea0e2a9"
      data-submit-text="トークンを作成する"
      data-partial="true">
    </script>
<% else %>
  <p>カートが空です。</p>
<% end %>
