<nav id = 'header_nav'>
  <%= link_to "サービス名", :root %>


    <ul class="">



      <li class="">
        <%= link_to "SHOPS", :shops %>
      </li>



      <li class="">
          <% if user_signed_in? %>
            <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <%= link_to "注文履歴", :orders %>
          <% else %>
            <%= link_to 'SIGN UP', new_user_registration_path %>
          <% end %>
      </li>

          <li class="">
          <% if user_signed_in? %>
          <% else %>
            <%= link_to 'LOGIN', new_user_session_path %>
          <% end %>
      </li>



      <li class="">
        <%= link_to "CART(#{count_current_carts_items})", :carts %>
      </li>



    </ul>
</nav>

